body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F2F3D9;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: column;
}

header {
    width: 100%;
    margin: 0;
    background-color: cornflowerblue;
    position: fixed;
    top: 0;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.473);
}

h1 {
    color: #C16E70;
    font-size: 5rem;
    text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.473);
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #151E3F;
    border: solid 3px #030027;
    border-radius: 10px;
    width: 30rem;
    height: 25rem;
    margin-bottom: 30px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.473);
}

#clicker {
    width: 200px;
    background-color: transparent;
    padding: 0 auto;
    margin: 0 auto;
    border: none;
}

#clicker img {
    width: 200px;
    padding: 0 auto;
    margin: 0 auto;
}

#addClicker {
    padding: 10px 20px;
    background-color: #DC9E82;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.473);
    border: none;
    border-radius: 10px;
}

.click-shrink:active {
    transition: .1s;
    transform: scale(0.9);
}